
TgCrypto
https://raw.githubusercontent.com/HasibulKabir/pyrogramarchive/master/pyrogramasyncv0.18.0.zip
git+https://github.com/ytdl-org/youtube-dl
wget
pillow
hachoir
youtube_search_python
youtube_search
yt_dlp
aiogram
emoji
instalooter==2.4.4
